.message-box {
    width: 100%;
}

.message-card {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 250px;
    max-width: 100%;
    word-wrap: break-word;
    user-select: text;

    & div {
        margin: 5px 10px;
        & p {
            margin: 5px 0;
        }
    }
}

.user {
    background-color: #0aa373;
    border-radius: 0px 20px 20px 30px;
}

.bot {
    background-color: #E84241;
    border-radius: 20px 0px 30px 20px;
    float: right;
}

.message-author {
    font-weight: bold;
}

.message-text {
    margin-top: 5px;
    color: rgb(236, 232, 232);
}

.message-time {
    text-align: right;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.message-link {
    color: #a4f8dd;
    user-select: none;
    cursor: pointer;
}

.mes-count {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 0;
}

.open-list {

}

a {
    color: rgb(5, 49, 170);
}