.sidebar-wrapper {
    width: 240px;
    height: 100%;
}

.title {
    margin: 15px;
    & p {
        display: inline;
    }
    & .red {
        color: #E84241;
    }
    & .green {
        color: #0AA373;
    }
    & .white {
        color: white;
    }
}

.chats {
    display: grid;
    height: calc(100% - 70px);
    align-content: space-between;
}

.lala {
    margin: 0 7px;
    padding: 2px 5px;
    background-color: rgb(154, 174, 174);
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    &:hover {
        transform: scale(1.05);
    }
}

.lala2 {
    padding: 10px;
    &:hover {
        color: #0AA373;
    }
}

p {
    margin: 0;
}
.name {
    font-size: 18px;
    font-weight: 700;
}

.lsreq {
    font-size: 16px;
    padding-left: 4px;
}

.date {
    font-size: 12px;
    color: aliceblue;
    margin-left: 122px;
}


.admin-panel {
}