<div class="osn">
    <img class="tatneft" src="../../assets/images/logo.svg"><br>
    <video #videoElement class="video" src="../../assets/videos/vidos.webm"  loop></video>
    <div class="lenta">
        <ul class="spisok">
            <a class="icon"><img src="../../assets/images/logo-small-black.svg"></a>
            <a>О компании</a>
            <a>Инвесторам</a>
            <a>Инвесторам</a>
            <a>Устойчивое развитие</a>
            <a>Пресс-центр</a>
            <a>Карьера</a>
        </ul>
    </div>
</div>
